<!-- templates/owner_list.html -->
{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-3">Owners List</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for owner in owners %}
        <tr>
            <td>
                <a href="{% url 'owner-detail' owner.id %}">{{ owner.name }}</a>
            </td>
            <td>{{ owner.email }}</td>
            <td>{{ owner.phone_number }}</td>
            <td>
                <div class="btn-group" style="gap: 6px;">
                    <a href="{% url 'owner-detail' owner.id %}" class="btn btn-outline-info btn-sm">View</a>
                    <a href="{% url 'owner-update' owner.id %}" class="btn btn-outline-primary btn-sm">Edit</a>
                    <a href="{% url 'owner-delete' owner.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}  